<%= render partial: 'shared/blog_header', locals: { :item => @blogs.sample } %>

<div class="row">
  <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      From the Vault   <%= link_to 'Add Blog', new_blog_path, class: 'btn btn-primary' if logged_in?(:site_admin) %>
    </h3>

    <%= render @blogs %>

    <nav class="blog-pagination">
      <a class="btn btn-outline-primary" href="#">Older</a>
      <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
    </nav>

  </div><!-- /.blog-main -->

  <%= render partial: 'blogs/sidebar' %>

</div><!-- /.row -->


<p id="notice"><%= notice %></p>
