<%= render partial: 'shared/blog_header', locals: { :item => @blogs.sample } %>

<div class="row">
  <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom">
      <span>
        <%= link_to 'Add Blog', new_blog_path, class: 'btn btn-primary' if logged_in?(:site_admin) %>
      </span>
      <span>
        <%= link_to 'Topics', topics_path, class: 'btn btn-secondary' %>
      </span>
    </h3>

    <% unless @blogs.nil? %>
      <%= render @blogs %>

      <%= paginate @blogs %>
    <% end %>

  </div><!-- /.blog-main -->

  <%= render partial: 'blogs/sidebar' %>

</div><!-- /.row -->


<p id="notice"><%= notice %></p>
