!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/

    %title= @page_title

    = csrf_meta_tags

    %meta{:content => "#{@seo_keywords}", :name => "keywords"}/

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    = render partial: 'shared/navbar', locals: { location: nil }

    %p.notice= notice
    %p.alert= alert

    = yield

    = copyright_generator

    = source_helper