!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title= @page_title

    = csrf_meta_tags

    %meta{:content => "#{@seo_keywords}", :name => "keywords"}/

    = stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload'

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body

    %p.notice= notice
    %p.alert= alert

    = yield

    = render partial: 'shared/navbar', locals: { location: 'bottom' }

    = source_helper