<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>

    <meta content="<%= @seo_keywords %>" name="keywords"/>

    <%= stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

  <!--Nav Bar Header-->
    <div class="container">
      <%= render partial: 'shared/blog_navbar' %>
      <%= source_helper %>
    </div>
    <main role="main" class="container">
      <%= yield %>
    </main>

    <%= render partial: 'shared/blog_footer' %>
  </body>
</html>
